.header{
    box-sizing: border-box;
    width: 100%;
    padding :16px 10% 20px 10%;
    background-color: rgb(204, 204, 17);
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.logo{
    font-size: 28px;
    font-weight: 600;
}

.list{
    display: flex;
    gap: 60px;
}
.list li{
    list-style-type: none;
}
.link{
    color: black;
    text-decoration: none;
    opacity: 0.7;
}
.link:hover{
    font-weight: 500;
    transform: scale(1.1);
    opacity: 1;
}
